@import "global.css";
.about-section__content {
  justify-content: center;
  padding-left: 45px;
  padding-right: 45px;
  padding-top: 90px;
  padding-bottom: 90px;
}
.about-section__title {
  font-family: var(--accent-font);
  color: var(--section-name-accent-color);
  font-size: 16px;
}

.about-section__subtitle {
  font-family: var(--block-title-font);
  color: var(--about-subtitle-text-color);
  font-size: 38px;
  margin-top: 20px;
}

.about-section__description {
  font-family: var(--font-family-primary);
  color: var(--about-description-text-color);
  font-size: 20px;
  margin-top: 25px;
}

.about-section__details {
  font-family: var(--font-family-primary);
  color: var(--about-details-text-color);
  font-size: 17px;
  margin-top: 25px;
}
@media (min-width: 768px) {
  .about-section {
    display: flex;
    flex-direction: row;
  }
  div {
    flex: 1;
  }
  .about-section__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

